html {
  font-size: 62.5%;
  font-family: "M PLUS 1p", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}

h1 {
  font-family: "Roboto", sans-serif;
}

ul, ol {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
  padding-left: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

th {
  font-weight: normal;
}

@media (min-width: 960px) {
  .l-grid {
    display: grid;
    grid-template: "header aside" "main   aside" "footer footer"/80.885% 19.115%;
  }
}

.l-header {
  grid-area: header;
  aspect-ratio: 375/217;
}
@media (min-width: 520px) {
  .l-header {
    aspect-ratio: 834/217;
  }
}
@media (min-width: 960px) {
  .l-header {
    aspect-ratio: 1553/217;
  }
}

.l-main {
  grid-area: main;
}

.l-footer {
  grid-area: footer;
  aspect-ratio: 375/150;
}
@media (min-width: 520px) {
  .l-footer {
    aspect-ratio: 834/150;
  }
}
@media (min-width: 960px) {
  .l-footer {
    aspect-ratio: 1920/150;
  }
}

@media (min-width: 960px) {
  .l-aside {
    grid-area: aside;
  }
}

.c-title--lv1 {
  line-height: 1.325;
  font-size: 10.666vw;
  color: #707070;
}
@media (min-width: 520px) {
  .c-title--lv1 {
    font-size: 4.796vw;
  }
}
@media (min-width: 960px) {
  .c-title--lv1 {
    font-size: 3.333vw;
  }
}
.c-title--large {
  font-size: 7.4666666667vw;
}
@media (min-width: 520px) {
  .c-title--large {
    font-size: 4.3165467626vw;
  }
}
@media (min-width: 960px) {
  .c-title--large {
    font-size: 1.875vw;
  }
}
.c-title--middle {
  font-size: 6.4vw;
}
@media (min-width: 520px) {
  .c-title--middle {
    font-size: 3.3573141487vw;
  }
}
@media (min-width: 960px) {
  .c-title--middle {
    font-size: 1.4583333333vw;
  }
}
.c-title--small {
  font-size: 5.3333333333vw;
}
@media (min-width: 520px) {
  .c-title--small {
    font-size: 2.3980815348vw;
  }
}
@media (min-width: 960px) {
  .c-title--small {
    font-size: 1.0416666667vw;
  }
}

.c-menu-btn {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 5.33vw;
}
@media (min-width: 520px) {
  .c-menu-btn {
    font-size: 4.796vw;
  }
}
.c-menu-btn.is-active {
  font-size: 0px;
}

.c-menu-btn--close.is-active {
  position: absolute;
  top: 14px;
  right: 32px;
  background: url(../icon/cross.png) no-repeat;
  background-size: cover;
  width: 5.33vw;
  aspect-ratio: 1;
}
@media (min-width: 520px) {
  .c-menu-btn--close.is-active {
    width: 4.796vw;
  }
}

.c-btn--readmore {
  font-size: 4.266vw;
  line-height: 1.062;
  color: #707070;
  background: #ffffff;
  border: 1px solid currentColor;
  border-radius: 20px;
  padding: 0.6em 2.625em;
  transition: 0.3s background-color;
}
.c-btn--readmore:hover {
  color: #ffffff;
  background: #707070;
  transition: 0.3s background-color;
}
@media (min-width: 520px) {
  .c-btn--readmore {
    font-size: 1.918vw;
  }
}
@media (min-width: 960px) {
  .c-btn--readmore {
    font-size: 0.833vw;
    padding: 1.687em 6.625em;
  }
}

.c-btn--large {
  font-size: 4.2666666667vw;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 20px;
  padding: 1.75em 8.625em;
  background: linear-gradient(#f2ede9, #ded8d3);
  box-shadow: 0 0.31em;
}
.c-btn--large:hover {
  transition: 0.3s;
  opacity: 0.8;
  transform: translateY(0.22em);
  box-shadow: 0 0.09em;
}
@media (min-width: 520px) {
  .c-btn--large {
    padding: 2.565em 11.875em;
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 960px) {
  .c-btn--large {
    font-size: 0.8333333333vw;
  }
}

.c-inner--archive {
  padding: 8% 5.2% 8.266%;
}
@media (min-width: 520px) {
  .c-inner--archive {
    padding: 4.316% 4.196% 3.597% 5.155%;
  }
}
@media (min-width: 960px) {
  .c-inner--archive {
    padding: 3.863% 6.439% 4.121%;
  }
}
.c-inner--common {
  padding: 8% 5.33% 47.2%;
}
@media (min-width: 520px) {
  .c-inner--common {
    padding: 7.194% 7.194% 27.338%;
  }
}
@media (min-width: 960px) {
  .c-inner--common {
    padding: 3.86% 6.49% 22.73%;
  }
}

.p-header {
  padding: 10% 8.266% 10% 6.4%;
  background: #fff7ef;
  color: #707070;
  position: relative;
}
@media (min-width: 520px) {
  .p-header {
    padding: 4.796% 17.266%;
  }
}
@media (min-width: 960px) {
  .p-header {
    padding: 0 1.931% 0 4.185%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.p-header__title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10.1%;
}
@media (min-width: 520px) {
  .p-header__title {
    margin-bottom: 4.556%;
  }
}
@media (min-width: 960px) {
  .p-header__title {
    margin-bottom: 0px;
  }
}
.p-header__menu-btn {
  position: absolute;
  z-index: 100;
  top: 14px;
  right: 16px;
}
.p-header__menu-btn.is-active {
  position: absolute;
  right: 32px;
}

.p-form-box {
  aspect-ratio: 320/46;
  display: flex;
  justify-content: space-between;
  font-size: 4.266vw;
  position: relative;
}
@media (min-width: 520px) {
  .p-form-box {
    aspect-ratio: 546/46;
    font-size: 1.918vw;
  }
}
@media (min-width: 960px) {
  .p-form-box {
    width: 35.15%;
    font-size: 0.833vw;
  }
}
.p-form-box::before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
  width: 4.266vw;
  aspect-ratio: 1;
  background: url(../icon/Loupe.png) no-repeat;
  background-size: cover;
}
@media (min-width: 520px) {
  .p-form-box::before {
    width: 1.918vw;
  }
}
@media (min-width: 960px) {
  .p-form-box::before {
    width: 0.833vw;
  }
}
.p-form-box__input {
  width: 71.875%;
  background: #ffffff;
  border: 1px solid currentColor;
  border-radius: 10px;
  padding-left: 10%;
}
@media (min-width: 520px) {
  .p-form-box__input {
    padding-left: 7%;
  }
}
@media (min-width: 960px) {
  .p-form-box__input {
    padding-left: 6%;
  }
}
.p-form-box__input:focus {
  border: 2px solid currentColor;
  box-shadow: inset 1px 1px 3px currentColor;
}
.p-form-box__submit {
  width: 24.375%;
  background: linear-gradient(#f2ede9, #ded8d3);
  font-weight: bold;
  line-height: 1.43;
  border: 1px solid currentColor;
  border-radius: 10px;
}
.p-form-box__submit:focus {
  border: 2px solid currentColor;
}

.p-main-visual {
  display: flex;
  align-items: center;
  padding-left: 6.666%;
  aspect-ratio: 375/285;
  background: url(../imges/front-page/sp/mainvisual-sp.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 520px) {
  .p-main-visual {
    aspect-ratio: 834/285;
    background: url(../imges/front-page/tablet/front_mainvisual_tab.jpg) no-repeat;
    background-size: contain;
  }
}
@media (min-width: 960px) {
  .p-main-visual {
    aspect-ratio: 1553/530;
    background: url(../imges/front-page/pc/mainvisual-pc.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.p-main-visual__title {
  font-size: 10.66vw;
  color: #ffffff;
}
@media (min-width: 520px) {
  .p-main-visual__title {
    font-size: 4.316vw;
  }
}
@media (min-width: 960px) {
  .p-main-visual__title {
    font-size: 1.875vw;
  }
}

.p-branch {
  background: #fffdfa;
  padding: 5.333% 5.333% 13.333%;
}
@media (min-width: 520px) {
  .p-branch {
    padding: 4.796%;
  }
}
@media (min-width: 960px) {
  .p-branch {
    padding: 7.726% 7.147% 8.628%;
  }
}
.p-branch__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 520px) {
  .p-branch__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.p-branch__list {
  height: auto;
}
@media (min-width: 520px) {
  .p-branch__list {
    width: 47.277%;
  }
}
@media (min-width: 960px) {
  .p-branch__list {
    width: 100%;
  }
}
.p-branch__list:first-child {
  margin-bottom: 5.97%;
}
@media (min-width: 520px) {
  .p-branch__list:first-child {
    margin-bottom: 0px;
  }
}
@media (min-width: 960px) {
  .p-branch__list:first-child {
    margin-right: 5.97%;
  }
}
.p-branch__item, .p-branch__item--eat-in, .p-branch__item--take-out {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3.283% 2.985% 0px;
}
@media (min-width: 520px) {
  .p-branch__item, .p-branch__item--eat-in, .p-branch__item--take-out {
    padding: 3.361% 3.361% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
@media (min-width: 960px) {
  .p-branch__item, .p-branch__item--eat-in, .p-branch__item--take-out {
    width: 100%;
    padding: 3.2% 3.2% 0px;
  }
}
.p-branch__item--take-out {
  background-image: url(../imges/front-page/sp/front_take-out_sp.png);
}
.p-branch__item--eat-in {
  background-image: url(../imges/front-page/sp/front_eat-in_sp.png);
}
.p-branch__title, .p-branch__title--eat-in, .p-branch__title--take-out {
  font-family: "Roboto", sans-serif;
  font-size: 10.933vw;
  line-height: 1.317;
  margin-bottom: 5.658em;
  position: relative;
}
@media (min-width: 520px) {
  .p-branch__title, .p-branch__title--eat-in, .p-branch__title--take-out {
    font-size: 5.275vw;
  }
}
@media (min-width: 960px) {
  .p-branch__title, .p-branch__title--eat-in, .p-branch__title--take-out {
    font-size: 4.166vw;
  }
}
.p-branch__title--take-out {
  color: #eaeaea;
}
.p-branch__title--eat-in {
  color: #ffffff;
}
.p-branch__title::after, .p-branch__title--take-out::after, .p-branch__title--eat-in::after {
  content: " ";
  display: inline-block;
  height: 5px;
  width: 9.037vw;
  background: #ffffff;
  position: absolute;
  bottom: -5.144vw;
  left: 0;
}
@media (min-width: 520px) {
  .p-branch__title::after, .p-branch__title--take-out::after, .p-branch__title--eat-in::after {
    width: 4.309vw;
    height: 3px;
    bottom: -2.589vw;
  }
}
@media (min-width: 960px) {
  .p-branch__title::after, .p-branch__title--take-out::after, .p-branch__title--eat-in::after {
    width: 3.281vw;
    height: 2.5px;
    bottom: -1.796vw;
  }
}

.p-branch__bottom-box__list {
  color: #3C2A10;
  background: rgba(255, 255, 255, 0.73);
  padding: 6.05% 4.458% 14.46% 3.184%;
  margin-bottom: 3.184%;
}
.p-branch__bottom-box__dt {
  font-size: 5.866vw;
  font-weight: bold;
  margin-bottom: 0.863em;
}
@media (min-width: 520px) {
  .p-branch__bottom-box__dt {
    font-size: 2.877vw;
  }
}
@media (min-width: 960px) {
  .p-branch__bottom-box__dt {
    font-size: 1.35vw;
  }
}
.p-branch__bottom-box__dd {
  font-size: 4.266vw;
}
@media (min-width: 520px) {
  .p-branch__bottom-box__dd {
    font-size: 1.918vw;
  }
}
@media (min-width: 960px) {
  .p-branch__bottom-box__dd {
    font-size: 0.933vw;
  }
}

.p-branch__list:hover {
  filter: drop-shadow(3px 3px 3px red);
  opacity: 0.7;
}

.p-map {
  color: #ffffff;
  position: relative;
}
.p-map::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.p-map__g-map {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.p-map__filter {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 60.057%;
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width: 520px) {
  .p-map__filter {
    height: 100%;
  }
}
@media (min-width: 960px) {
  .p-map__filter {
    width: 61.171%;
  }
}
.p-map__text-wrap {
  position: relative;
  z-index: 5;
  height: 100%;
  padding: 10.666%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 520px) {
  .p-map__text-wrap {
    justify-content: space-between;
    padding: 4.796% 3.477% 3.796% 3.477%;
  }
}
@media (min-width: 960px) {
  .p-map__text-wrap {
    width: 61.171%;
  }
}
.p-map__title {
  font-size: 8vw;
  margin-bottom: 10.288vw;
  position: relative;
}
@media (min-width: 520px) {
  .p-map__title {
    margin-bottom: 5.088vw;
    font-size: 3.597vw;
  }
}
@media (min-width: 960px) {
  .p-map__title {
    margin-bottom: 7.088vw;
    font-size: 1.875vw;
  }
}
.p-map__title::after {
  content: " ";
  display: inline-block;
  height: 2px;
  width: 20vw;
  background: #ffffff;
  position: absolute;
  bottom: -5.144vw;
  left: 0;
}
@media (min-width: 520px) {
  .p-map__title::after {
    width: 8.992vw;
    bottom: -2.544vw;
  }
}
@media (min-width: 960px) {
  .p-map__title::after {
    width: 3.906vw;
    bottom: -3.544vw;
  }
}
.p-map__text {
  font-size: 3.533vw;
  line-height: 2.357;
}
@media (min-width: 520px) {
  .p-map__text {
    font-size: 1.678vw;
    line-height: 2;
  }
}
@media (min-width: 960px) {
  .p-map__text {
    font-size: 0.833vw;
  }
}

.p-footer {
  color: #ffffff;
  background: url(../imges/front-page/sp/footer-sp.png);
  text-align: center;
  padding: 10.4% 0 8%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 520px) {
  .p-footer {
    padding: 4.676% 0 3.597%;
  }
}
@media (min-width: 960px) {
  .p-footer {
    padding: 2.031% 0 1.562%;
  }
}
.p-footer__nav {
  display: flex;
  justify-content: center;
}
.p-footer__nav > li {
  font-size: 5.333vw;
}
@media (min-width: 520px) {
  .p-footer__nav > li {
    font-size: 2.398vw;
  }
}
@media (min-width: 960px) {
  .p-footer__nav > li {
    font-size: 1.041vw;
  }
}
.p-footer__nav > li:first-child {
  margin-right: 1em;
  position: relative;
}
.p-footer__nav > li:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -0.6em;
  width: 0.1em;
  height: 1em;
  background: Currentcolor;
}
.p-footer__copyright {
  font-size: 3.733vw;
}
@media (min-width: 520px) {
  .p-footer__copyright {
    font-size: 1.678vw;
  }
}
@media (min-width: 960px) {
  .p-footer__copyright {
    font-size: 0.729vw;
  }
}

.p-footer__nav > li {
  position: relative;
}
.p-footer__nav > li:first-of-type::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 0.077em;
  background: currentColor;
  transition: 0.5s;
  right: 0;
}
.p-footer__nav > li:nth-of-type(2)::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 0.077em;
  background: currentColor;
  transition: 0.5s;
  left: 0;
}
.p-footer__nav > li:hover:first-of-type::before, .p-footer__nav > li:hover:nth-of-type(2)::before {
  width: 100%;
  transition: 0.5s;
}

.p-aside {
  color: #707070;
  background: #f2ede9;
  width: 87.4%;
  height: 100vh;
  position: fixed;
  z-index: 50;
  top: 0;
  right: -87.4%;
  padding: 57.634% 0 0 12.481%;
  overflow-y: scroll;
  transition: 0.5s ease-in-out;
}
@media (min-width: 520px) {
  .p-aside {
    transition: 0.3s ease-in-out;
    width: 44%;
    right: -44%;
    padding-top: 30%;
  }
}
@media (min-width: 960px) {
  .p-aside {
    padding: 22.343% 0 0 12.534%;
    overflow-y: hidden;
    position: static;
    width: auto;
    height: auto;
  }
}
.p-aside.is-active {
  right: 0;
}
@media (min-width: 960px) {
  .p-aside__title {
    font-size: 1.778vw;
    margin-bottom: 2.5em;
  }
}

.p-menu-list > li {
  font-weight: bold;
  font-size: 6.4vw;
  margin-bottom: 1.6em;
}
@media (min-width: 520px) {
  .p-menu-list > li {
    font-size: 2.877vw;
  }
}
@media (min-width: 960px) {
  .p-menu-list > li {
    font-size: 1.25vw;
  }
}
.p-menu-list > li a {
  display: inline-block;
}
.p-menu-list > li a:hover {
  transition: 0.5s;
  transform: scale(1.2);
  font-weight: bold;
}

.sub-menu {
  padding-top: 1.3em;
}
.sub-menu > li {
  font-weight: normal;
  padding-left: 1em;
}
@media (min-width: 520px) {
  .sub-menu > li {
    font-size: 2.398vw;
  }
}
@media (min-width: 960px) {
  .sub-menu > li {
    font-size: 1.041vw;
  }
}
.sub-menu > li:not(:last-of-type) {
  padding-bottom: 1.1em;
}
.sub-menu > li:last-of-type {
  padding-bottom: 1.545em;
}
.sub-menu > li a {
  display: inline-block;
}
.sub-menu > li a:hover {
  transition: 0.5s;
  transform: scale(1.2);
  font-weight: bold;
}

.p-archive-hero {
  background: url(../imges/archive/archive-hero-sp.jpg);
  background-position: left center;
  background-size: cover;
  aspect-ratio: 375/283;
  padding-left: 9.866%;
  position: relative;
}
@media (min-width: 520px) {
  .p-archive-hero {
    aspect-ratio: 834/283;
  }
}
@media (min-width: 960px) {
  .p-archive-hero {
    aspect-ratio: 1553/239;
    background: url(../imges/archive/archive-hero-pc.jpg);
    background-size: contain;
  }
}
.p-archive-hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.p-archive-hero__title {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 9.6vw;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 520px) {
  .p-archive-hero__title {
    font-size: 7.194vw;
  }
}
@media (min-width: 960px) {
  .p-archive-hero__title {
    font-size: 3.125vw;
  }
}
.p-archive-hero__sub-title {
  font-size: 4.266vw;
  font-family: "M PLUS 1p", sans-serif;
  display: block;
}
@media (min-width: 520px) {
  .p-archive-hero__sub-title {
    font-size: 1.918vw;
    vertical-align: middle;
    display: inline-block;
    margin-left: 1.25em;
  }
}
@media (min-width: 960px) {
  .p-archive-hero__sub-title {
    font-size: 0.833vw;
  }
}

.p-intro {
  color: #3C2A10;
}
.p-intro__title {
  line-height: 1.5;
  font-size: 7.466vw;
  margin-bottom: 1.0714em;
}
@media (min-width: 520px) {
  .p-intro__title {
    font-size: 4.316vw;
    margin-bottom: 0.694em;
  }
}
@media (min-width: 960px) {
  .p-intro__title {
    font-size: 1.918vw;
  }
}
.p-intro > p {
  font-weight: normal;
  line-height: 1.437;
  font-size: 4.266vw;
  margin-bottom: 1.187em;
}
@media (min-width: 520px) {
  .p-intro > p {
    font-size: 1.918vw;
    margin-bottom: 2.312em;
  }
}
@media (min-width: 960px) {
  .p-intro > p {
    font-size: 0.833vw;
    margin-bottom: 4.375em;
  }
}

.p-archive-body {
  width: 100%;
  margin-bottom: 16%;
}
.p-archive-body__item:not(:last-child) {
  margin-bottom: 20.5px;
}

.p-card {
  max-width: 100%;
  color: #ffffff;
}
@media (min-width: 520px) {
  .p-card {
    display: flex;
  }
}
.p-card__img {
  aspect-ratio: 336.11/230.53;
}
@media (min-width: 520px) {
  .p-card__img {
    width: 50%;
    object-fit: fill;
    aspect-ratio: normal;
  }
}
.p-card__caption {
  background: #3C2B1C;
  padding: 8.928% 21.726% 12.797% 5.059%;
}
@media (min-width: 520px) {
  .p-card__caption {
    padding: 3.671%;
  }
}
@media (min-width: 960px) {
  .p-card__caption {
    padding: 2.76vw 3.281vw;
  }
}
.p-card__title--lv3 {
  font-size: 5.3333333333vw;
  margin-bottom: 1.2em;
}
@media (min-width: 520px) {
  .p-card__title--lv3 {
    font-size: 2.3980815348vw;
    margin-bottom: 1.2em;
  }
}
@media (min-width: 960px) {
  .p-card__title--lv3 {
    font-size: 1.875vw;
    margin-bottom: 1.305em;
  }
}
.p-card__title--lv4 {
  font-size: 4.2666666667vw;
  margin-bottom: 0.625em;
}
@media (min-width: 520px) {
  .p-card__title--lv4 {
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 960px) {
  .p-card__title--lv4 {
    font-size: 1.25vw;
    margin-bottom: 0.708em;
  }
}
.p-card__text {
  font-size: 4.2666666667vw;
  margin-bottom: 2.5em;
  line-height: 1.4375;
  font-weight: normal;
}
@media (min-width: 520px) {
  .p-card__text {
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 960px) {
  .p-card__text {
    font-size: 0.8333333333vw;
    margin-bottom: 3.75em;
  }
}
.p-card .c-btn--readmore {
  margin-left: 28%;
}
@media (min-width: 520px) {
  .p-card .c-btn--readmore {
    display: table;
    margin: 0 auto;
  }
}

.p-pager {
  color: #707070;
  font-size: 4.2666666667vw;
}
@media (min-width: 520px) {
  .p-pager {
    font-weight: bold;
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 960px) {
  .p-pager {
    font-size: 0.8333333333vw;
  }
}
.p-pager__inner-sp {
  display: flex;
  justify-content: space-between;
}
.p-pager__link-sp {
  font-weight: normal;
}
.p-pager__list {
  display: flex;
  justify-content: center;
}
.p-pager__item:not(:last-of-type), .p-pager__item--active:not(:last-of-type) {
  margin-right: 1em;
}
.p-pager__item, .p-pager__item--active {
  border: 1px solid currentColor;
  transition: 0.3s background-color;
  transition: 0.3s transform;
}
.p-pager__item:hover, .p-pager__item--active:hover {
  transform: scale(1.4);
  transition: 0.3s background-color;
  transition: 0.3s transform;
  background: #707070;
  color: #ffffff;
  border: 1px solid #707070;
}
.p-pager__link {
  padding: 0.2em 0.5em;
}

.p-pager__item--active {
  border: none;
}
.p-pager__item--active:hover {
  transform: none;
  background: none;
  color: #707070;
  border: none;
}

.p-pager__count {
  display: inline-block;
  margin-right: 1em;
}

.p-hero, .p-hero--page, .p-hero--single {
  padding-left: 6.933%;
  width: 100%;
  aspect-ratio: 375/225;
  display: flex;
  align-items: center;
}
@media (min-width: 520px) {
  .p-hero, .p-hero--page, .p-hero--single {
    padding-left: 8.311%;
    aspect-ratio: 834/500;
  }
}
@media (min-width: 960px) {
  .p-hero, .p-hero--page, .p-hero--single {
    aspect-ratio: 1553/500;
    padding-left: 5%;
  }
}
.p-hero--single {
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 960px) {
  .p-hero--single {
    background-position: center center;
    background-attachment: fixed;
  }
}
.p-hero--page {
  background: url(../imges/page/page-hero-sp.jpg) no-repeat;
  background-size: cover;
}
@media (min-width: 960px) {
  .p-hero--page {
    background: url(../imges/page/page-hero-pc.jpg) no-repeat;
    background-size: contain;
  }
}
.p-hero__title {
  color: #ffffff;
  text-shadow: 2px 1px 10px #333;
  font-size: 9.6vw;
  font-family: "M PLUS 1p", sans-serif;
}
@media (min-width: 520px) {
  .p-hero__title {
    font-size: 7.1942446043vw;
  }
}
@media (min-width: 960px) {
  .p-hero__title {
    font-size: 3.125vw;
  }
}

.p-content h2 {
  margin-bottom: 1.071em;
  font-size: 7.4666666667vw;
}
@media (min-width: 520px) {
  .p-content h2 {
    margin-bottom: 1.666em;
    font-size: 4.3165467626vw;
  }
}
@media (min-width: 960px) {
  .p-content h2 {
    font-size: 1.875vw;
  }
}
.p-content h3 {
  font-size: 6.4vw;
  margin-bottom: 1.25em;
}
@media (min-width: 520px) {
  .p-content h3 {
    font-size: 3.3573141487vw;
    margin-bottom: 2.107em;
  }
}
@media (min-width: 960px) {
  .p-content h3 {
    font-size: 1.4583333333vw;
  }
}
.p-content h4, .p-content h5, .p-content h6 {
  font-size: 5.3333333333vw;
}
@media (min-width: 520px) {
  .p-content h4, .p-content h5, .p-content h6 {
    font-size: 2.3980815348vw;
  }
}
@media (min-width: 960px) {
  .p-content h4, .p-content h5, .p-content h6 {
    font-size: 1.0416666667vw;
  }
}
.p-content h4 {
  margin-bottom: 1.8em;
}
@media (min-width: 520px) {
  .p-content h4 {
    margin-bottom: 3em;
  }
}
.p-content h5 {
  margin-bottom: 1.45em;
}
@media (min-width: 520px) {
  .p-content h5 {
    margin-bottom: 3em;
  }
}
.p-content h6 {
  margin-bottom: 1.5em;
}
@media (min-width: 520px) {
  .p-content h6 {
    margin-bottom: 3em;
  }
}
.p-content p {
  font-weight: normal;
  line-height: 1.4375;
  margin-bottom: 2.125em;
  font-size: 4.2666666667vw;
}
@media (min-width: 520px) {
  .p-content p {
    font-size: 1.9184652278vw;
    margin-bottom: 3.75em;
  }
}
@media (min-width: 960px) {
  .p-content p {
    font-size: 0.8333333333vw;
  }
}

.wp-block-quote {
  padding: 8.955% 4.776%;
  margin-bottom: 1.875em;
  font-size: 4.2666666667vw;
  background: #f5f5f5;
}
@media (min-width: 520px) {
  .wp-block-quote {
    padding: 7% 7% 8.4% 7%;
    margin-bottom: 3.75em;
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 960px) {
  .wp-block-quote {
    padding: 3.695%;
    font-size: 0.8333333333vw;
  }
}
.wp-block-quote p {
  line-height: 1.4375;
  margin-bottom: 1.875em;
}
@media (min-width: 520px) {
  .wp-block-quote p {
    margin-bottom: 3.75em;
  }
}
.wp-block-quote cite {
  color: #4A6C9B;
  text-decoration: underline;
}

.p-media {
  aspect-ratio: 337/176;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 520px) {
  .p-media {
    aspect-ratio: 714/373;
  }
}
@media (min-width: 960px) {
  .p-media {
    aspect-ratio: 1354/358;
  }
}
.p-media__img {
  height: 50%;
}
@media (min-width: 960px) {
  .p-media__img {
    height: 100%;
  }
}
.p-media__caption {
  font-size: 4.2666666667vw;
  width: 54%;
  overflow-y: hidden;
  font-weight: normal;
}
@media (min-width: 520px) {
  .p-media__caption {
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 960px) {
  .p-media__caption {
    width: 54.135%;
    font-size: 0.8333333333vw;
  }
}

.p-gallery__top {
  width: 100%;
  aspect-ratio: 335/124;
  margin-bottom: 8vw;
}
@media (min-width: 520px) {
  .p-gallery__top {
    aspect-ratio: 714/264;
    margin-bottom: 7.194vw;
  }
}
@media (min-width: 960px) {
  .p-gallery__top {
    aspect-ratio: 1353/500;
    margin-bottom: 3.125vw;
  }
}
.p-gallery__pair__item {
  margin-bottom: 8vw;
}
@media (min-width: 520px) {
  .p-gallery__pair__item:first-child {
    margin-bottom: 14vw;
  }
}
@media (min-width: 960px) {
  .p-gallery__pair__item:first-child {
    margin-bottom: 3.125vw;
  }
}
@media (min-width: 520px) {
  .p-gallery__pair__item:last-child {
    margin-bottom: 7.31vw;
  }
}
@media (min-width: 960px) {
  .p-gallery__pair__item:last-child {
    margin-bottom: 3.125vw;
  }
}
.p-gallery__middle {
  width: 80%;
  aspect-ratio: 267/166;
  display: table;
  margin: 0 auto;
  margin-bottom: 8vw;
}
@media (min-width: 520px) {
  .p-gallery__middle {
    width: 81%;
    aspect-ratio: 581/385;
    margin-bottom: 28vw;
  }
}
@media (min-width: 960px) {
  .p-gallery__middle {
    width: 42.94%;
    margin-bottom: 3.125vw;
  }
}
.p-gallery__bottom {
  margin-bottom: 2.78vw;
}
@media (min-width: 520px) {
  .p-gallery__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 960px) {
  .p-gallery__bottom {
    margin-bottom: 1.719vw;
  }
}
.p-gallery__bottom-img {
  width: 100%;
  margin-bottom: 5.55vw;
}
@media (min-width: 520px) {
  .p-gallery__bottom-img {
    width: 48.879%;
    margin-bottom: 2.398vw;
  }
}
@media (min-width: 960px) {
  .p-gallery__bottom-img {
    width: 32.372%;
    margin-bottom: 1.041vw;
  }
}

.p-content ul, .p-content ol {
  font-size: 4.2666666667vw;
}
@media (min-width: 520px) {
  .p-content ul, .p-content ol {
    padding-left: 3.125em;
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 960px) {
  .p-content ul, .p-content ol {
    font-size: 0.8333333333vw;
  }
}

.p-content ol:last-of-type {
  margin: 3.75em 0;
}

.p-content ul:last-of-type {
  margin: 1.875em 0;
}
@media (min-width: 520px) {
  .p-content ul:last-of-type {
    margin: 3.75em 0;
  }
}

.p-format {
  background: #f5f5f5;
  padding-top: 2.125em;
  padding-left: 3.125em;
  margin-bottom: 1.875em;
  font-size: 4.2666666667vw;
}
@media (min-width: 520px) {
  .p-format {
    margin-bottom: 3.75em;
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 520px) {
  .p-format {
    margin-bottom: 3.125em;
    font-size: 0.8333333333vw;
  }
}

.p-content table {
  font-size: 4.2666666667vw;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1.875em;
}
@media (min-width: 520px) {
  .p-content table {
    font-size: 1.9184652278vw;
    margin-bottom: 3.75em;
  }
}
@media (min-width: 960px) {
  .p-content table {
    font-size: 0.8333333333vw;
  }
}
.p-content table tr td:first-child {
  text-align: start;
  width: 40.29%;
  border: 1px solid #707070;
  padding: 1.75em 0;
  padding-left: 1.875em;
}
@media (min-width: 520px) {
  .p-content table tr td:first-child {
    width: 32.37%;
  }
}
@media (min-width: 960px) {
  .p-content table tr td:first-child {
    width: 31.59%;
  }
}
.p-content table tr td:nth-child(2) {
  width: 59.71%;
  border: 1px solid #707070;
  padding-left: 1.875em;
}
@media (min-width: 520px) {
  .p-content table tr td:nth-child(2) {
    width: 67.63%;
  }
}
@media (min-width: 960px) {
  .p-content table tr td:nth-child(2) {
    width: 68.41%;
  }
}

.p-content {
  min-height: 100vh;
  color: #3C2A10;
}
.p-content .c-btn--large {
  margin-bottom: 1.875em;
}
.p-content__text-bold {
  font-weight: bold;
  font-size: 4.2666666667vw;
}
@media (min-width: 520px) {
  .p-content__text-bold {
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 960px) {
  .p-content__text-bold {
    font-size: 0.8333333333vw;
  }
}

@media (min-width: 960px) {
  .u-disp--pc-none {
    display: none;
  }
}
.u-disp--pc-only {
  display: none;
}
@media (min-width: 520px) {
  .u-disp--pc-only {
    display: none;
  }
}
@media (min-width: 960px) {
  .u-disp--pc-only {
    display: block;
  }
}
@media (min-width: 520px) {
  .u-disp--sp-only {
    display: none;
  }
}
.u-disp--sp-none {
  display: none;
}
@media (min-width: 520px) {
  .u-disp--sp-none {
    display: block;
  }
}

.u-menu-filter::before {
  content: " ";
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: 50;
}

.u-menu-filter.is-active {
  position: fixed;
  overflow-y: hidden;
}
.u-menu-filter.is-active::before {
  pointer-events: auto;
  opacity: 1;
}

.prev-link::before {
  content: "";
  display: inline-block;
  width: 4.2666vw;
  aspect-ratio: 1;
  transform: translateY(0.2em);
  background: url(../icon/left-arrow.png) no-repeat;
  background-size: cover;
  margin-right: 0.5em;
  transition: 0.5s;
}
@media (min-width: 520px) {
  .prev-link::before {
    width: 1.918vw;
  }
}
@media (min-width: 960px) {
  .prev-link::before {
    width: 0.833vw;
  }
}
.prev-link:hover::before {
  opacity: 0.7;
}
@media (min-width: 520px) {
  .prev-link:hover::before {
    transition: 0.5s;
    display: inline-block;
    transform: scale(1.5);
  }
}

.next-link::after {
  content: "";
  display: inline-block;
  width: 4.2666vw;
  aspect-ratio: 1;
  transform: translateY(0.2em);
  background: url(../icon/right-arrow.png) no-repeat;
  background-size: cover;
  transition: 0.5s;
  margin-left: 0.5em;
}
@media (min-width: 520px) {
  .next-link::after {
    width: 1.918vw;
  }
}
@media (min-width: 960px) {
  .next-link::after {
    width: 0.833vw;
  }
}
@media (min-width: 520px) {
  .next-link::after {
    margin-left: -0.5em;
  }
}
.next-link:hover::after {
  opacity: 0.7;
}
@media (min-width: 520px) {
  .next-link:hover::after {
    transition: 0.5s;
    display: inline-block;
    transform: scale(1.5);
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}
.u-min-height100vh {
  min-height: 100vh;
}
/*# sourceMappingURL=style.css.map */