@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

// p-pagerで使う矢印、疑似要素専用
@mixin arrow-base {
  content: "";
  display: inline-block;
  width: 4.2666vw;
  aspect-ratio: 1;
  transform: translateY(0.2em);
  @include m.b-p(tab) {
    width: 1.918vw;
  }
  @include m.b-p(pc) {
    width: 0.833vw;
  }
}
// WordPress化に伴う改変コード
.prev-link {
  //前への矢印＜＜
  &::before {
    @include arrow-base;
    background: url(../icon/left-arrow.png) no-repeat;
    background-size: cover;
    margin-right: 0.5em;
    transition: 0.5s;
  }
  &:hover::before {
    opacity: 0.7;
    @include m.b-p(tab) {
      transition: 0.5s;
      display: inline-block;
      transform: scale(1.5);
    }
  }
}

.next-link {
  //次への矢印＞＞
  &::after {
    @include arrow-base;
    background: url(../icon/right-arrow.png) no-repeat;
    background-size: cover;
    transition: 0.5s;
    margin-left: 0.5em;
    @include m.b-p(tab) {
      margin-left: -0.5em;
    }
  }
  &:hover::after {
    opacity: 0.7;
    @include m.b-p(tab) {
      transition: 0.5s;
      display: inline-block;
      transform: scale(1.5);
    }
  }
}
