@use "../../foundation/mixin"as m;
@use "../../foundation/variable"as v;

.p-branch {
  background: v.bg-colors(branch);
  padding: 5.333% 5.333% 13.333%;
  @include m.b-p(tab) {
    padding: 4.796%;
  }
  @include m.b-p(pc) {
    padding: 7.726% 7.147% 8.628%;
  }
  &__container {
    display: flex;
    flex-direction: column; 
    @include m.b-p(tab) {
      flex-direction: row; //横並びに戻す
      justify-content: space-between; 
    }
  }
  &__list {
    height: auto;
    @include m.b-p(tab) {
      width: 47.277%;
    }
    @include m.b-p(pc) {
      width: 100%;//PC サイズだとwidthが効かない？？
    }
    &:first-child {//take-outの方
      margin-bottom: 5.97%;
      @include m.b-p(tab) {
        margin-bottom: 0px;
      }
      @include m.b-p(pc) {
        margin-right: 5.97%;//上記理由からmrで対応
      }
    }
  }
  &__item {
    display: inline-block;//aタグのインライン要素を変更
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3.283% 2.985% 0px;
    @include m.b-p(tab) {
      padding: 3.361% 3.361% 0px;
      display: flex;//テキスト量に応じて左右を可変
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    @include m.b-p(pc) {
      width: 100%;
      padding: 3.2% 3.2% 0px;
    }
    &--take-out {
      //画像が各々違うので別ヴァージョンでまたは、HTMLにbg-imageを書く場合も検討。
      @extend .p-branch__item;
      background-image: url(../imges/front-page/sp/front_take-out_sp.png);
    }
    &--eat-in {
      @extend .p-branch__item;
      background-image: url(../imges/front-page/sp/front_eat-in_sp.png);
    }
  }
  &__title {
    //見出しの文字色が違うので別バージョンを作る
    font-family: "Roboto", sans-serif;
    font-size: 10.933vw;
    line-height: 1.317;
    margin-bottom: 5.658em; //タイトルからテキストボックスまで
    position: relative;
    @include m.b-p(tab) {
      font-size: 5.275vw;
    }
    @include m.b-p(pc) {
      font-size: 4.166vw;
    }
    &--take-out {
      @extend .p-branch__title;
      color: v.$d-white;
    }
    &--eat-in {
      @extend .p-branch__title;
      color: v.$white;
    }
    &::after {
      //疑似要素で見出しの下にある白線を作る
      content: " ";
      display: inline-block;
      height: 5px;
      width: 9.037vw;
      background: v.$white;
      position: absolute;
      bottom: -5.144vw;
      left: 0;
      @include m.b-p(tab) {
        width: 4.309vw;
        height: 3px;
        bottom: -2.589vw;
      }
      @include m.b-p(pc) {
        width: 3.281vw;
        height: 2.5px;
        bottom: -1.796vw;
      }
    }
  }
}
// 下のbottom-boxはここから
.p-branch__bottom-box {
  &__list {
    color: v.$black;
    background: rgba(255, 255, 255, 0.73);
    padding: 6.05% 4.458% 14.46% 3.184%;
    margin-bottom: 3.184%; //二か所ある
  }
  &__dt {
    font-size: 5.866vw;
    font-weight: bold;
    margin-bottom: 0.863em;
    @include m.b-p(tab) {
      font-size: 2.877vw;
    }
    @include m.b-p(pc) {
      font-size: 1.35vw;
    }
  }
  &__dd {
    font-size: 4.266vw;
    @include m.b-p(tab) {
      font-size: 1.918vw;
    }
    @include m.b-p(pc) {
      font-size: 0.933vw;
    }
  }
}