@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-format {
  background: v.$white-s;
  padding-top: 2.125em;
  padding-left: 3.125em;
  margin-bottom: 1.875em;
  @include m.fz-vw(sp, 16);
  @include m.b-p(tab) {
    margin-bottom: 3.75em;
    @include m.fz-vw(tab, 16);
  }
  @include m.b-p(tab) {
    margin-bottom: 3.125em;
    @include m.fz-vw(pc, 16);
  }
}
