@use "../../foundation/mixin"as m;
@use "../../foundation/variable"as v;

.p-lists {
  @include m.fz-vw(sp, 16);
  @include m.b-p(tab) {
    padding-left: 3.125em;
    @include m.fz-vw(tab, 16);
  }
  @include m.b-p(pc) {
    @include m.fz-vw(pc, 16);
  }
}
.p-lists > ol:last-of-type {
  //上側のリストの一番下の余白
  margin-bottom: 3.75em;
}
.p-lists > ul:last-of-type {
  //下側のリストの一番下の余白
  margin-bottom: 1.875em;
  @include m.b-p(tab){
  margin-bottom: 3.75em;
  }
}

.p-sub-list {//各々の真ん中のリストの余白
  padding: 1.25em 0 1.25em 1em;
}