@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-menu-list {
  > li {
    font-weight: bold;
    font-size: 6.4vw;
    margin-bottom: 1.6em; //単位em文字サイズに応じて余白を可変に
    @include m.b-p(tab) {
      font-size: 2.877vw;
    }
    @include m.b-p(pc) {
      font-size: 1.25vw;
    }
    a {
      display: inline-block; //transitionを利かせるためaタグのインライン要素を変更
      &:hover {
        transition: 0.5s;
        transform: scale(1.2);
        font-weight: bold;
      }
    }
  }
}

.sub-menu {
  > li {
    font-weight: normal;
    font-size: 5.33vw;
    padding-left: 1em;
    @include m.b-p(tab) {
      font-size: 2.398vw;
    }
    @include m.b-p(pc) {
      font-size: 1.041vw;
    }
    > li:not(:last-child) {
      //最後以外にpbを適用
      padding-bottom: 1.1em;
    }
    > li:last-child {
      //最後のpbは広めにする
      padding-bottom: 1.545em;
    }
  }
  > li a {
    display: inline-block; //transitionを利かせるためaタグのインライン要素を変更
    &:hover {
      transition: 0.5s;
      transform: scale(1.2);
      font-weight: bold;
    }
  }
}
