@use "../foundation/variable"as v;
@use "../foundation/mixin"as m;

.l-footer {
  grid-area: footer;
  aspect-ratio: 375/150;
  @include m.b-p(tab) {
    aspect-ratio: 834/150;
  }
  @include m.b-p(pc) {
    aspect-ratio: 1920/150;
  }
}